.innerlab {
    font-family: 'Fontdiner Swanky';
    font-size: 18px;
    color: rgb(247, 190, 84);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}

.innerdata {
    font-size: 20px;
    font-weight: bold;
}
.eachdiv {
    background-color:rgba(247, 190, 84, 0.705);
}

.cardttl {
    text-align: center;
    font-size: 20px;
}