/* .linktext {
    color: black;
}

.savedindi {
    background-color: rgb(238, 238, 231);
    
}

#summary {
    padding: 20px;
   margin: 15px;

}

.textcard {
    border-radius: 10px;
} */

.eachdiv {
    background-color:rgba(247, 190, 84, 0.705);
}

.cardttl {
    text-align: center;
}