.maincard {
    margin-top: 2%;
}

#headerstyle {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 4em; 
    margin-bottom: 0px;
}

#headingdiv {
    margin-top: 20px;
}
#headertagline {
    text-align: center;
    

}

.border {
    border-width: thick;
}
