
.regbutton {
    margin-top: 5%;
    margin-right: 20px;
}

#inputmargin {
    margin-bottom: 21px;
}



.ddivinline {
    display: inline-block;
}

#inputState2 {
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: rgba(247, 190, 84, 0.705);
}

