.pump {
    width: 100%;
    height: auto;
}

.spider {
    width: 135%;
    height: auto;
    margin-top: 100%;
}

.web {
    height: 500px;
    
}

.smallspider {
   
    width: 175%;
    margin-top: 170%;
}

.spiderright {
    width: 200%;
    margin-top: 200%;
    height: 500px;
}


.rotatespider {
    height: 50px;
}
