#addhead {
    font-weight: bolder;
}

.eachlabel {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 15px;
    text-align: center;
}

#addresshead {
    color: orange;
    font-size: 20px;
}