#pump {
    height: 30px;
    width: auto;
}

.navmain {
background-color: rgba(247, 190, 84, 0.705);
}

.namelogo {
    font-family: 'Fontdiner Swanky', cursive;
}

.navlink {
    color: black;
    font-family: 'Fontdiner Swanky', cursive;
}